* {
  box-sizing: border-box;
}

body {
  background: #1BAC68;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  font-size: 1em;
}

h2 {
  color: #1BAC68;
  font-size: 2.4em;
  margin-top: 0;
}

p {
  font-size: 18px;
}

form {
  margin-bottom: 0;
}

input,
  select,
  textarea,
  button {
  display: block;
  color: inherit;
  font: inherit;
  margin-bottom: 4.5em;
  outline: 0;
  padding: 10px 10px 10px 0;
  width: 100%;
}

.button {
  background: #1BAC68;
  border: 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 20px auto;
  padding: 10px 15px;
  transition: transform .1s;
  outline: none;
}

.button:hover {
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transform: translate(-2px, -5px);
}

.button:active {
  transform: translate(2px, 2px);
}

label {
  display: block;
  color: #888;
  font-size: .7em;
  margin-bottom: .5em;
}

input,
  select {
  background: none;
  border: 0;
  border-bottom: solid 1px #555;
  border-radius: 0;
}

select {
  background: url("images/down-arrow.png") right center no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}

.send-button {
  margin: 2em 0 0;
}

img {
  max-width: 100%;
}

.logo-container {
  margin: 2em;
  max-width: 100%;
  width: auto;
}

@media (min-width: 500px) {
  .logo-container {
    left: 50%;
    margin: 0;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 400px;
  }
}

.get-in-touch {
  border: solid 6px #fff;
  margin: 20px auto;
}

.contact-modal {
  background: #fff;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.4);
  left: 0;
  margin: 1.5em;
  opacity: 0;
  padding: 2em;
  position: absolute;
  pointer-events: none;
  top: 2em;
  transition: transition, .15s ease, opacity .15s ease;
  width: calc(100% - 3em);
}

@media (min-width: 500px) {
  .contact-modal {
    left: 50%;
    margin: 0;
    padding: 3em;
    top: 40%;
    transform: translate(-50%, -30%);
    width: 500px;
  }
}

.contact-modal--visible {
  display: block;
  opacity: 1;
  pointer-events: initial;
}

@media (min-width: 500px) {
  .contact-modal--visible {
    transform: translate(-50%, -45%);
  }
}

.contact-form {
  transition: transition, .15s ease, opacity .15s ease;
}

.contact-form--hidden {
  opacity: 0;
  transform: translateY(20px);
}

.contact-message {
  position: absolute;
  left: 0;
  top: 30%;
  transition: transition, .15s ease, opacity .15s ease;
  text-align: center;
  width: 100%;
}

@media (min-width: 500px) {
  .contact-message {
    left: 50%;
    transform: translate(-50%, 40%);
  }
}

.contact-message--hidden {
  opacity: 0;
  transform: translate(-50%, 100%);
  pointer-events: none;
}

.close-button {
  background: none;
  border: 0;
  display: inline-block;
  font-weight: 800;
  position: absolute;
  right: 10px;
  top: 10px;
  width: auto;
}

.close-button:hover {
  cursor: pointer;
}
